<% the_id = params["id"] %>
<% book = Book.read(the_id) %>

<h2><%= book.title %></h2>
<p><b>Price:</b> $<%= book.price %></p>
<p><b>Average rating:</b> <%= Review.read("book_id" => book.id).average("rating") %></p>

<p><b>Reviews</b></p>

<% reviews = Review.read("book_id" => book.id) %>

<ul>
 <% reviews.each do |review| %>
  <li><%= review.comment %> (<%= review.rating %> stars)</li>

  <% end %>
  </ul>
 